body.instrucciones {
    background: url('../images/Mapa.jpg') no-repeat center center fixed;
    background-size: cover;
  }

.pergamino {
    background: rgba(255, 248, 220, 0.95); /* Color pergamino */
    border: 10px solid #8b4513; /* Borde marrón oscuro */
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    padding: 20px;
    width: 80%;
    max-width: 900px;
    margin: 50px auto;
    text-align: justify;
    overflow: hidden;
    position: relative;
  }
  
.pergamino h1 {
    text-align: center;
    color: #8b4513;
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #000;
  }

.skull {
    position: absolute;
    top: 0px;
    right: 0px;
    max-width: 100px;
    max-height: 100px;
  }